{% extends "layout.html" %}

{% block title %} Signup {% endblock %}

{% block content %}
{% if form.errors %}
    <ul class="alert-warning list-unstyled">
        {% for field_name, field_errors in form.errors|dictsort if field_errors %}
            {% for error in field_errors %}
                <li>{{ form[field_name].label }}: {{ error }}</li>
            {% endfor %}
        {% endfor %}
    </ul>
{% endif %}
    <!-- Main content of signup page-->
    <form class="container" action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <div class="center1">
            <div class="row">
                <div class="col-2">
                </div>
                <div class="col-12">
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">{{ form.username.label }}:</label>
                        {{ form.username(class="col-sm-8 form-control form-control-lg", placeholder = "Username") }}
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">{{ form.email_address.label }}:</label>
                        {{ form.email_address(class="col-sm-8 form-control form-control-lg", placeholder = "Email Address") }}
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">{{ form.password.label }}:</label>
                        {{ form.password(class="col-sm-8 form-control form-control-lg", placeholder = "password") }}
                    </div>
                </div>
                <div class="col-2">
                </div>
            </div>
        </div>
        <div class="center2">
            <p>By creating an account you agree to our <a href="#">Terms & Privacy</a>.</p>

            {{ form.submit(class="btn bg-info text-white") }}

            <div class="container">
                <p>Already have an account? <a href="#">Sign in</a>.</p>
            </div>
        </div>
    </form>
{% endblock %}
